<div class='p-5 box'>
  <style>
    h1 { color: black; }
  </style>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <h1 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <h2 id='user'>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
  <button type='button' class='btn'>Купити</button>

  <p>This is beautiful</p>
</div>

<div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item'>1</li>
    <li class='item'>2</li>
    <li class='item'>3</li>
    <li class='item'>4</li>
    <li class='item'>5</li>
  </ul>
</div>
<div class='card p-5 m-5 card-dark'>
  <ul>
    <li class='item'>1</li>

  </ul>
</div>
<div class='card p-5 m-5 card-dark'>
  <ul>
    <div class='item'>first</div>
    <p class='item'>second</p>
    <b class='item'>five</b>
    <li class='item'>1</li>
    <div class='item'>big</div>

  </ul>
</div>

<div class='card p-5 m-5 card-dark'>
  <input class='input-dark' required />
  <input class='input-dark' type='number' />
</div>

<div class='card p-5 m-5 card-dark img'>
  <img
    alt='img small card 100px'
    class='small-img'
    src='https://picsum.photos/200/300'
    heigt='100px'
  />
  <a
    href='https://picsum.photos/200/300'
    rel='external'
  >Link</a>
  <button class='btn'>Click me</button>
  <br />
  <a
    class='btn btn-secondary'
    href='https://picsum.photos/200/300'
  >Click me</a>
</div>

<div class='card p-5 m-5 card-dark img'>
  <p class='big-text'>This is good infa for you<br />This is
    good infa for you</p>
</div>

<div class='card p-5 m-5 card-dark img'>
  <input
    class='input-dark'
    placeholder='this is good game'
    required
  />

</div>

<div lang='fr' class='card p-5 m-5 card-dark img'>
  <a href='#test'>Click</a>
</div>
<div lang='en' id='test' class='card p-5 m-5 card-dark img'>
  <input />
  <span>Hello world!</span>
  <button>Test button</button>
</div>
<div class='card p-5 m-5 card-dark img'>
  <button>Test button</button>
  <button disabled>Test button</button>
  <button>Test button</button>
</div>

<div class='card p-5 m-5 card-dark img'>
  <input class='inp' />
</div>

<div class='card p-5 m-5 card-dark img'>
  <a class='link' href='https://terrikon.com/'>Click</a>
</div>

<div class='p-5 mt-5'>

  <div>
    <input type='checkbox' checked />
    <span>first</span>
  </div>
  <div>
    <input type='checkbox' />
    <span>second</span>
  </div>
</div>

<div class='p-5 m-5 card-dark'>

  <div>
    <input
      type='email'
      required
      class='valid'
      placeholder='testtesttest'
    />
    <span>tehdj kfkfj jfdjdff</span>
  </div>
  <div class='mt-5'>
    <input
      type='number'
      min='10'
      max='20'
      required
      class='number'
    />
  </div>
</div>